.mainContainer {
  display: grid;
  padding: 1rem;
  border: 2px solid rgb(16, 33, 101);
  background-color: rgba(61, 83, 172, 0.318);
  border-radius: 10px;
  width: fit-content;
  height: fit-content;
}
